# Download URL
URL=https://raw.githubusercontent.com/freefq/free/master/ssr
# KContext key of URL
#KEY=
# Html tag for context
#TAG=
# decode method
DECODE="base64 -d"
# save final result to DIST_FILE
#DIST_FILE=
# Delete temp files
#DELETE=0
# debug output
#DEBUG=1
